[Unit] 
Description=CCS (Connie Control Server)


[Service]
Type=Net-Server
ExecStart=/opt/Connie/bin/cie -v 2 bind -d true
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
